---
import PageHeading from "../components/PageHeading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <PageHeading title={"Leistungen"} />
  <section>
    <div>bild</div>
    <div>
      <h2>Baumpflanzungen</h2><p>
        Bei der Pflanzung eines neuen Baumes gibt es vieles zu beachten. Der gewünschte Baum sollte
        auch an einen passenden Standort gesetzt werden: Hat die Baumart bestimmte Ansprüche an den
        Boden, ist er zu trocken oder zu feucht? Wie sind die Lichtverhältnisse und kann der Baum
        damit umgehen? Gibt es überhaupt die Möglichkeit, sich an diesem Ort artgerecht zu
        entwickeln, oder sollte vielleicht doch eine andere Sorte gewählt werden?Bei diesen
        Fragestellungen unterstütze ich Sie gerne mit meiner Expertise. Ich übernehme sowohl
        Anlieferung und fachgerechte Pflanzung als auch anfallende Behördenwege.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2>Jungbaumpflege</h2><p>
        Mit der Pflege von jungen Bäumen kann man sehr effektiv die zukünftige Entwicklung einer
        Pflanze steuern. Rechtzeitig durchgeführte Eingriffe greifen den Baum nur minimal an und
        können mit der Zeit eine große Wirkung entfalten. Zu große Schnitte sind oft mit einem hohen
        Zeit- und Kostenaufwand verbunden, und führen in der Regel zu Fäule und Vitalitätsverlust.
        Daher gilt es, eine vorausschauende und nachhaltige Pflege schon in jungen Jahren zu
        etablieren, um in Zukunft auf große Eingriffe verzichten zu können.
      </p>
    </div>
    <div>bild</div>
  </section>
  <section>
    <div>bild</div>
    <div>
      <h2>Kronenpflege</h2><p>
        Um Fehlentwicklungen in der Krone vorzubeugen und langfristige Schäden zu vermeiden, wird
        die gesamte Krone des Baumes gründlich gepflegt. Reibende und kreuzende Äste, welche nicht
        dem Habitus entsprechen, werden entfernt. Totholz und baumfremder Bewuchs, welche die
        Verkehrssicherheit beeinflussen werden ausgeschnitten. Der Baum atmet richtig auf und kann
        sich wieder störungsfrei entfalten.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2>Totholzentfernung</h2><p>
        Obwohl die Bildung von Totholz in Bäumen oft ein ganz normaler und natürlicher Prozess ist,
        ist es manchmal notwendig Dürräste aus dem Kronenbereich zu entfernen, um die
        Verkehrssicherheit des Baumes wiederherzustellen. Sollten größere Kronenteile abgestorben
        sein sind die Ursachen oft komplexer und deshalb näher zu untersuchen.
      </p>
    </div>
    <div>bild</div>
  </section>

  <section>
    <div>bild</div>
    <div>
      <h2>Rückschnitt</h2><p>
        Manchmal kann es notwendig sein, Teile der Krone oder das gesamte Kronendach zu reduzieren.
        Die Gründe sind vielfältig und reichen von nötiger Gewichtenlastung beeinträchtigter
        Kronenteile über die Reduzierung der Windangriffsfläche zu schlichten Einkürzungen aus
        ästhetischen Gründen. Die Schnitte werden fachgerecht gesetzt und der arttypische Habitus
        des Baumes wird berücksichtigt.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2>Technische Sicherungen</h2><p>
        Um bruchgefährdete Kronen- oder Stammteile im Baum zu belassen, ohne die Verkehrssicherheit
        negativ zu beeinflussen können Kronensicherungen oder Baumstützen eingesetzt werden.
        Gemeinsam mit einem fachgerechten Rückschnitt können so auftretende Lasten vermindert
        werden. Auf diese Weise ist es möglich alte und somit ökologisch besonders wertvolle Bäume
        nachhaltig zu unterstützen, ohne Abstriche bei der Sicherheit zu machen.
      </p>
    </div>
    <div>bild</div>
  </section>
  <section>
    <div>bild</div>
    <div>
      <h2>Baumkontrolle</h2><p>
        Um Ihren Verkehrssicherungspflichten als Baumhalter nachzukommen ist es gemäß §1319 ABGB
        erforderlich Bäume in regelmäßigen Abständen zu kontrollieren und dies zu dokumentieren. Ich
        übernehme diese Aufgabe sehr gerne für Ihren Baumbestand oder auch für Einzelbäume. Im Zuge
        einer visuellen Kontrolle werden Zustand und Gefährdungsmerkmale festgehalten. Falls nötig
        werden notwendige Maßnahmen zur Herstellung der Verkehrssicherheit vorgeschlagen. Um den
        Überblick zu behalten kann es sinnvoll sein einen Baumkataster zu erstellen. Sozusagen ein
        Nachschlagewerk für Ihre Bäume, deren Zustand sowie vergangene und zukünftige
        Pflegemaßnahmen. Auf Ihren Wunsch stehe ich natürlich auch für die Durchführung der
        vorgeschlagenen Maßnahmen zur Verfügung.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2>Habitatbaum</h2><p>
        Jeder Baum ist wertvoll und selbst nach seinem Absterben kann er noch unzähligen Lebewesen
        und Organismen Platz bieten. Ja manche Organsimen benötigen sogar tote Bäume um selbst zu
        überleben. Höhlungen, Fäulnis oder abgestorbenes Holz bieten einzigartige ökologische
        Nischen welche essentiell für ein komplexes Ökosystem sind. Die komplette Fällung oder
        Abtragung eines gefährlichen Baumes muss nicht die endgültige Lösung sein. Mit einem
        Habitatbaum steigern Sie die ökologische Wertigkeit Ihres Gartens um ein Vielfaches. Die
        Kosten für die Fällung werden ebenfalls reduziert. Um weiterhin Sicherheit auf Ihrem
        Grundstück zu gewährleisten stehen unterschiedliche Möglichkeiten wie zum Beispiel
        technische Stützen, Teilabtragungen oder Kronensicherungen zur Verfügung.
      </p>
    </div>
    <div>bild</div>
  </section>
  <section>
    <div>bild</div>
    <div>
      <h2>Abtragungen</h2><p>
        Manchmal hilft selbst die beste Pflege und die besten Absichten nichts mehr und der Baum
        muss weg. Ob Aufgrund von Bautätigkeiten oder Sicherheitsbedenken, wenn alle Alternativen
        ausgeschöpft sind oder auch wenn Ihre Entscheidung endgültig feststeht -  dann ist der Griff
        zur Säge unvermeidlich. Ich entferne Ihren Baum sicher und effizient. Selbst bei beengten
        Verhältnissen oder empfindlichen Glashäusern, dem Werkzeugschuppen darunter oder einfach nur
        dem schönen Garten. Je nach Situation und Anforderung kann der Baum im Ganzen gefällt oder
        Stück für Stück langsam abgetragen werden. Sicherheit und Präzision stehen hier bei mir an
        oberster Stelle.
      </p>
    </div>
  </section>
  <section>
    <div>
      <h2>Gärtnerische Dienstleistungen</h2><p>
        Im Zuge der Baumpflege in Ihrem Garten übernehme ich auch gerne andere gärtnerische
        Dienstleistungen für Sie. Sei es Heckenschnitt, Rasenpflege, Beete anlegen oder
        Gartenplanung. Ich kümmere mich gerne darum!
      </p>
    </div>
    <div>bild</div>
  </section>
</Layout>

<style></style>
